html,
body {
    height: 95%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: #333;
    border-radius: 50%;
    border: 25px solid #222;
}

.clock-face {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    z-index: 3;
}

.hour-indicator {
    position: absolute;
    border-left: 6px solid white;
    height: 575px;
}

.centre {
    position: absolute;
    z-index: 4;
    height: 20px;
    width: 20px;
    background-color: #111;
    border-radius: 50%;
}

.sec-hand {
    position: absolute;
    z-index: 3;
    border-left: 3px solid;
    height: 475px;
    border-image: linear-gradient(to bottom, crimson 50%, transparent 50%) 1 100%;
}

.min-hand {
    position: absolute;
    z-index: 2;
    border-left: 9px solid;
    height: 500px;
    border-image: linear-gradient(to bottom, #111 50%, transparent 50%) 1 100%;
}

.hour-hand {
    position: absolute;
    z-index: 1;
    border-left: 12px solid;
    height: 350px;
    border-image: linear-gradient(to bottom, #111 50%, transparent 50%) 1 100%;
}